#content{
    margin: 10px;

}
#image-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.image{
    width: 300px;
    height: 200px;
    margin: 10px;
    background-image: url("gory.jpg");
    background-size: cover;
    display: flex;
    box-shadow: 0 0 2px 2px gray;
}
#image1{
    align-items: flex-end;
    justify-content: center;
}
#image2{
    align-items: stretch;
    align-items: center;
    justify-content: center;
}
#image1:hover #photo-info{
    display: inline;
    color: white;
    padding: 10px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.6);
    flex-basis: 100%;
    text-align: center;
}
#image2:hover #album{
    height: 200px;
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(31, 202, 174, 0.6);
}
#photo-info{
    display: none;
}
#album{
    display: none;
}